.footer__social-name {
  font-family: 'PT', 'Arial', sans-serif;
  font-size: 20px;
  color: #323232;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__social-name {
    display: none;
  }
}