.news-feed__article {
    display: grid;
    grid-template-columns: 1fr 212px;
    grid-template-rows: 18px 1fr 130px;
    max-width: 328px;
}

@media screen and (max-width: 1220px) {
	.news-feed__article {
		max-width: 180px;
	}
}

@media screen and (max-width: 460px) {
	.news-feed__article {
		grid-template-columns: 1fr 1fr;
        grid-template-rows: 160px 1fr 16px;
        max-width: 336px;
	}
}
