.page-title {
    text-align: center;
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
    color: #323232;
    padding-top: 42px;
    padding-bottom: 62px;

}