.cards_learn-more {
  width: 140px;
  height: 26px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(50, 50, 50, 0.5);
}

@media screen and (max-width: 1439px) {
	.cards_learn-more{
        width: 109px;
        height: 18px;
        font-size: 14px;
        line-height: 18px;
	}
  }
    
@media screen and (max-width: 767px) {
	.cards_learn-more {
        width: 94px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
	}
  }