.special-projects__card-title {
	font-weight: 400;
	font-size: 26px;
	line-height: 26px;
	margin: 0;
	padding: 28px 0 0;
}

@media screen and (max-width: 800px) {
	.special-projects__card-title {
		font-size: 18px;
		line-height: 22px;
        padding: 0;
	}
}
