.about__text {
	margin: 0 auto;
	font-size: 46px;
	font-weight: 400px;
	line-height: 55.2px;
}

@media screen and (max-width: 1416px) {
	.about__text {
		font-size: 30px;
		line-height: 37px;
	}
  }

    
@media screen and (max-width: 600px) {
	.about__text {
		font-size: 26px;
		line-height: 100%;
	}
  }