.paginator__left-button {
    background: transparent url(../../../images/components/left-arrow.svg) center no-repeat;;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 12px;
    width: 17px;
}

.paginator__left-button:hover {
    opacity: 0.6;
}