.news-card__description {
  grid-column: 1/-1;
  margin: 20px 0 0;
  font-size: 20px;
  font-family: 'PT', 'Arial', sans-serif;
  color: rgba(50, 50, 50, 0.6);
  line-height: 1.2;
  height: 130px;
}

@media screen and (max-width: 1220px) {
  .news-card__description {
    color: rgba(50, 50, 50, 1);
    font-size: 14px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 610px) {
  .news-card__description {
    grid-row: 2;
    height: 54px;
  }
}