.slider-list__container {
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  height: 100%;
}

.slider-list__container::-webkit-scrollbar {
  background-color: #e7e4de;
  border-radius: 2px;
  height: 4px;
}

.slider-list__container::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 2px;
}

@media screen and (max-width: 460px) {
  .slider-list__container {
    flex-direction: column;
    overflow-x: unset;
  }
}
