.actions__cards-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #3232324D;
	width: 560.17px;
	height: 274px;
}

@media screen and (max-width: 1439px) {
	.actions__cards-item {
		width: 362px;
		height: 212px;
	}
  }
    
@media screen and (max-width: 767px) {
	.actions__cards-item {
		width: 336px;
		height: 184px;
	}
  }