.special-projects__card-text {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #323232;
	opacity: 0.6;
	margin: 0;
	padding: 0;
	padding-top: 18px;
	align-self: flex-start;
}

@media screen and (max-width: 800px) {
	.special-projects__card-text {
		font-size: 14px;
		line-height: 18px;
        padding-top: 8px;
	}
}
