.journal__heading {
  font-family: 'PT', 'Arial', sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0px;
  margin: 42px 0 62px;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .journal__heading {
    font-size: 30px;
  }
}