.paginator__right-button {
    background: transparent url(../../../images/components/right-arrow.svg) center no-repeat;;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 12.02px;
    width: 16.61px;
}

.paginator__right-button:hover {
    opacity: 0.6;
}