.card__title {
  font-family: "WF";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  text-align: center;

  margin: 28px 0 0 0;
}

@media screen and (max-width: 1140px) {
  .card__title {
    font-size: 18px;
    line-height: 22px;
    margin: 24px 0 0 0;
  }
}
